*{
	margin:0;
	padding:0;
	}

	body{
	  margin-top:35px;
	
	
	}
	.top{
		width:100%;
		height:35px;
		position:fixed;
		background:#FF44AA;
		top:0;
		left:0;
		right:0;
		z-index:1000;
	}
	.top .left h1{
		line-height:35px;
		font-size:15px;
		text-indent:10px;
		color:#fff;
	}

	.top .right ul{
		width:30px;
		height:35px;
		float:right;
		margin-right:10px;

	}
	.top .right li{
		width:30px;
		height:4px;
		margin-top:6px;
		box-shadow:0 0 5px rgba(0,0,0,0.5);
		border-radius:2px;
		background:#fff;
		list-style:none;


	}
		
	.top .left{
		float:left;
		width:50%;
	
	}
	.top .right{
		float:right;
		width:50%;
		height:35px;
		
	}
	.content{
		width:100%;
		height:auto;
		margin:0 auto;
		background:green;
		position:relative;
		
	}
	.content .item{
		width:50%;
		height:auto;
		float:left;
	
		
	}
	.content .item .pic{
		width:90%;
		height:auto;
		margin:7px auto;
		border-radius:2px;
		box-shadow:0 0 5px rgba(0,0,0,0.9);
	}
	.content .item .pic img{
		display:block;
		width:100%;
		height:auto;
	}
	.bar{
		width:100%;
		height:300px;
		background:#000;
		position:absolute;
		top:35px;
		left:0;
		right:0;
		display:none;
		opacity:0.1;
	}

	
